<table style="max-width:50%">
    <tbody>

    {{- range .Site.Data.lessons }}
        {{- range . }}
        <tr>
            <td align="right" style="width:20%;text-align:right">{{ .date }}</td>
            {{- if .content }}
            <td align="left" style="h3;width:100%;text-align:left"><a href="{{ .Site.baseurl }}/content/{{ .content }}/">
                {{ .title }}</a></td>
            {{- else }}

            {{- end }}
        </tr>
        {{- end }}
    {{- end }}

    </tbody>

</table>
